
@{
    ViewBag.Title = "Cập nhật hình ảnh";
}
<div class="col-md-4 pt-4">
    <h2>Cập nhật hình ảnh</h2>
   <form method="post" enctype="multipart/form-data">
       <label>Chọn ảnh</label>
       <input type="file" name="fileAnh"/>
       <button class="btn btn-xs btn-success">Upload</button>
   </form>
</div>